a {
  text-decoration: none;
}
.meg .meg1 .ttl {
  font-family: cursive;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}
.header-ttl a {
  font-size: 24px;
  width: 80px;
  color: black;
}
.header-nav-list {
  font-size: small;
  display: flex;
  font-weight: bold;
}
.header-nav-list a{
  color: gray;
  margin-right: 10px;
}
.main{
  position: relative;
  z-index: 1;
}
.text {
  position: absolute;
  left: 27%;
  z-index: 3;
}
.mg {
  margin-top: 15%;
}
.meg {
  color: #c71585;
  font-size: 40px;
}
.meg1 {
  color: #c71585;
  font-size: 40px;
  margin-top: 10%;
}
d {
  color: #008b8b;
}
.set {
  margin-top: 15%;
  color: gray;
}
.text-1 {
  color: #c71585;
  font-size: 20px;
}
.text-2 {
  font-size: small;
  padding-top: 3%;
}
.text-3 {
  font-size: small;
  padding-top: 5px;
}
.flower {
  position: absolute;
  left: 45%;
  z-index: 2;
}
.flower img{
  width: 700px;
  height: 400px;
}
.News{
  margin-top: 40%;
  margin-left: 25%;
  width: 650px;
}
.ttl p {
  color: #c71585;
  font-size: small;
}
.sub-ttl {
  color: gray;
  font-size: large;
  border-bottom: 2px solid gray;
  padding-top: 10px;
  padding-bottom: 20px;
  
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  text-decoration: none;
}
.news-text {
  border-bottom: 1px solid gray;
  padding-top: 25px;
  padding-bottom: 15px;
}
.day {
  color: gray;
}
.botann {
  width: 100px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: #c71585;
  border-radius: 30px;
}
.last {
  color: gray;
}
.line {
  border-bottom: 2px solid gray;
  padding-top: 25px;
}
.About {
  width: auto;
  height: 550px;
  background-color:whitesmoke;
  position: relative;
}
.about-ttl {
  text-align: center;
  color: #c71585;
  padding-top: 50px;
}
.about-sub-ttl {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  color: gray;
}
.about-set {
  color: gray;
  position: absolute;
  top: 40%;
  left: 15%;
}
.about-text-1 {
  padding-top: 25px;
}

.about-img img {
  width: 30%;
  position: absolute;
  left: 57%;
  top: 35%;
}
.Service {
  width: auto;
  height: 650px;
  position: relative;
}
.service-set {
  position: absolute;
  top: 15%;
  left: 15%;
}
.service-ttl {
  color: #c71585;
}
.service-sub-ttl {
  color: gray;
  font-size: 25px;
  padding-top: 15px;
}